## Assignment 1
**Deadline**: 23rd September 2024

This assessment consists of 20 MongoDB queries, ranging from easy to hard. You are required to use the following sample data:

```json
{
    "students": [
        {"name": "Rohit", "age": 23, "math_score": 85, "physics_score": 90, "city": "New York"},
        {"name": "Eram", "age": 22, "math_score": 78, "physics_score": 75, "city": "Los Angeles"},
        {"name": "Madan", "age": 24, "math_score": 95, "physics_score": 88, "city": "Chicago"},
        {"name": "Uvaish", "age": 21, "math_score": 60, "physics_score": 65, "city": "Houston"},
        {"name": "Neha", "age": 23, "math_score": 72, "physics_score": 80, "city": "Phoenix"}
    ]
}

```

Please submit your solutions by the given deadline.

1. Insert the given sample data into a MongoDB collection called 'students'.

In [6]:
import pymongo

# Connect to MongoDB
client = pymongo.MongoClient("mongodb://localhost:27017/")

# Accessing the Database
mydb = client["Unmessenger"]

# Creating Collection
collection = mydb.students

# Accessing Collection
collection = mydb["students"]

collection.insert_many([
    {"name": "Rohit", "age": 23, "math_score": 85, "physics_score": 90, "city": "New York"},
    {"name": "Eram", "age": 22, "math_score": 78, "physics_score": 75, "city": "Los Angeles"},
    {"name": "Madan", "age": 24, "math_score": 95, "physics_score": 88, "city": "Chicago"},
    {"name": "Uvaish", "age": 21, "math_score": 60, "physics_score": 65, "city": "Houston"},
    {"name": "Neha", "age": 23, "math_score": 72, "physics_score": 80, "city": "Phoenix"}
])

InsertManyResult([ObjectId('66f1579957132d11f5242e58'), ObjectId('66f1579957132d11f5242e59'), ObjectId('66f1579957132d11f5242e5a'), ObjectId('66f1579957132d11f5242e5b'), ObjectId('66f1579957132d11f5242e5c')], acknowledged=True)

2. Write a query to find all students who have a 'math_score' greater than 80.

In [8]:
result = mydb.students.find({"math_score": {"$gt": 80}})

for student in result:
    print(student)

{'_id': ObjectId('66f1579957132d11f5242e58'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66f1579957132d11f5242e5a'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}

3. Write a query to find students whose 'age' is less than 23.

In [9]:
result = mydb.students.find({"age": {"$lt": 23}})

for student in result:
    print(student)

{'_id': ObjectId('66f1579957132d11f5242e59'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66f1579957132d11f5242e5b'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}

4. Write a query to return only the 'name' and 'math_score' of all students.

In [10]:
result = mydb.students.find({}, {"name": 1, "math_score": 1, "_id": 0})

for student in result:
    print(student)

{'name': 'Rohit', 'math_score': 85}
{'name': 'Eram', 'math_score': 78}
{'name': 'Madan', 'math_score': 95}
{'name': 'Uvaish', 'math_score': 60}
{'name': 'Neha', 'math_score': 72}

5. Write a query to find students from the city 'New York'.

In [11]:
result = mydb.students.find({"city": "New York"})

for student in result:
    print(student)

{'_id': ObjectId('66f1579957132d11f5242e58'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}

6. Write a query to update the 'physics_score' of 'Uvaish' to 85.

In [12]:
mydb.students.update_one(
    {"name": "Uvaish"},
    {"$set": {"physics_score": 85}}
)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

7. Write a query to delete the student 'Neha' from the collection.

In [13]:
mydb.students.delete_one({"name": "Neha"})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

8. Write a query to find all students where 'math_score' is between 70 and 90 (inclusive).

In [14]:
result = mydb.students.find({
    "math_score": {"$gte": 70, "$lte": 90}
})

for student in result:
    print(student)

{'_id': ObjectId('66f1579957132d11f5242e58'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66f1579957132d11f5242e59'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}

9. Write a query to find students whose 'math_score' is greater than 'physics_score'.

In [15]:
result = mydb.students.find({
    "$expr": {"$gt": ["$math_score", "$physics_score"]}
})

for student in result:
    print(student)

{'_id': ObjectId('66f1579957132d11f5242e59'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66f1579957132d11f5242e5a'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}

10. Write a query to return students sorted by 'math_score' in descending order.

In [16]:
result = mydb.students.find().sort("math_score", -1)

for student in result:
    print(student)

{'_id': ObjectId('66f1579957132d11f5242e5a'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('66f1579957132d11f5242e58'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66f1579957132d11f5242e59'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66f1579957132d11f5242e5b'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 85, 'city': 'Houston'}

11. Write a query using the aggregation framework to calculate the average 'math_score' of all students.

In [17]:
pipeline = [
    {
        "$group": {
            "_id": None,
            "average_math_score": {"$avg": "$math_score"}
        }
    }
]

result = mydb.students.aggregate(pipeline)

for item in result:
    print(item)

{'_id': None, 'average_math_score': 79.5}

12. Write a query to group students by 'city' and count the number of students in each city.

In [18]:
pipeline = [
    {
        "$group": {
            "_id": "$city",
            "student_count": {"$sum": 1}
        }
    }
]

result = mydb.students.aggregate(pipeline)

for item in result:
    print(item)

{'_id': 'Chicago', 'student_count': 1}
{'_id': 'Los Angeles', 'student_count': 1}
{'_id': 'Houston', 'student_count': 1}
{'_id': 'New York', 'student_count': 1}

13. Write a query to find students who either have 'math_score' greater than 80 or 'physics_score' greater than 85.

In [19]:
result = mydb.students.find({
    "$or": [
        {"math_score": {"$gt": 80}},
        {"physics_score": {"$gt": 85}}
    ]
})

for student in result:
    print(student)

{'_id': ObjectId('66f1579957132d11f5242e58'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66f1579957132d11f5242e5a'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}

14. Write a query to find students whose age is exactly 23 and live in 'Phoenix'.

In [20]:
result = mydb.students.find({
    "age": 23,
    "city": "Phoenix"
})

for student in result:
    print(student)

15. Write a query to find students whose 'math_score' is not equal to 85.

In [21]:
result = mydb.students.find({
    "math_score": {"$ne": 85}
})

for student in result:
    print(student)

{'_id': ObjectId('66f1579957132d11f5242e59'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66f1579957132d11f5242e5a'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('66f1579957132d11f5242e5b'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 85, 'city': 'Houston'}

16. Write a query to find students whose 'name' starts with the letter 'A'.

In [22]:
result = mydb.students.find({
    "name": {"$regex": "^A"}
})

for student in result:
    print(student)

17. Write a query to find students whose 'city' is neither 'New York' nor 'Los Angeles'.

In [23]:
result = mydb.students.find({
    "city": {"$nin": ["New York", "Los Angeles"]}
})

for student in result:
    print(student)

{'_id': ObjectId('66f1579957132d11f5242e5a'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('66f1579957132d11f5242e5b'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 85, 'city': 'Houston'}

18. Write a query to update all students with 'age' greater than 22 to add a new field 'graduated': true.

In [24]:
mydb.students.update_many(
    {"age": {"$gt": 22}},
    {"$set": {"graduated": True}}
)

UpdateResult({'n': 2, 'nModified': 2, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

19. Write a query to remove the 'physics_score' field for students who live in 'Chicago'.

In [25]:
mydb.students.update_many(
    {"city": "Chicago"},
    {"$unset": {"physics_score": ""}}
)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

20. Write a query to find the student with the highest 'math_score'.

In [26]:
result = mydb.students.find().sort("math_score", -1).limit(1)

for student in result:
    print(student)

{'_id': ObjectId('66f1579957132d11f5242e5a'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'city': 'Chicago', 'graduated': True}